#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(53, 3, 119, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-gif {
  width: 20vw;
  max-width: 80px;
  height: auto;
}

@media (max-width: 720px) {
  .loader-gif {
    width: 30vw;
    max-width: 60px;
  }
}
