.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home-title {
  font-size: 35pxpx;
  color: var(--colorText);
  background-color: var(--body);
  padding: 10px;
  border-radius: 10px;
  border-radius: 10px;
}

.home-description {
  font-size: 17px;
  color: var(--colorText);
  max-width: 600px;
  text-align: center;
  background-color: var(--body);
  border-radius: 10px;
}

.lista-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 720px) {
  .home-title {
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 365px;
  }

  .home-description {
    font-size: 15px;
    width: 360px;
    margin-left: 15px;
  }

  .lista-eventos {
    flex-direction: column;
    align-items: center;
  }
}
