#clasificacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000ffbf;
  border: solid 2px black;
  border-radius: 15px;
  margin-top: 50px;
  padding-bottom: 10px;
  gap: 20px;
  width: 70%;
}

.tabla-clasificacion {
  background-color: #00aaff;
  padding: 5px;
  border-radius: 10px;
  height: 50vh;
}

.tabla-clasificacion tr.primero {
  background-color: gold;
  font-weight: bold;
}

/* Partidos de la jornada */
.partidos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
  background-color: var(--perfil);
  border-radius: 10px;
  padding: 15px;
  align-items: center;
}

/* FORZADO PARA ANULAR EL DISPLAY: GRID QUE VIENE DE OTRO CSS */
.partidos-wrapper .partido {
  display: flex !important;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
  text-align: center;
  font-size: 11px;
  flex-direction: column;
  gap: 10px;
}

.contenido-partido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 1;
}

.equipo-local,
.equipo-visitante {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  margin-right: 15px;
}
#clasificacion td {
  padding: 0 10px;
}
.contenido-partido input {
  width: 30px;
  text-align: center;
  border-radius: 5px;
}

.botones-partido {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  cursor: pointer;
  width: 80%;
}

.tabla-wrapper h2 {
  margin-left: 110px;
}

.navegacion-jornada {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navegacion-jornada button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  #clasificacion {
    width: 90%;
    font-size: 12px;
  }

  .tabla-wrapper h2 {
    font-size: 20px;
  }

  .partidos-wrapper {
    justify-content: center;
    width: 90%;
  }

  .contenido-partido input {
    width: 25px;
  }

  .tabla-clasificacion {
    height: 40vh;
  }
}

@media (max-width: 480px) {
  .equipo-local {
    padding-right: 3px;
    margin-right: 15px;
  }

  .equipo-visitante {
    text-align: left;
    padding-left: 3px;
  }

  .contenido-partido input {
    width: 20px;
  }
}
