#clasificacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000ffbf;
  width: 90%;
  border: solid 2px black;
  border-radius: 15px;
}
.partidos-wrapper {
  margin-top: 30px;
  width: 80%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.partidos-wrapper input {
  width: 15px;
  border-radius: 5px;
  text-align: center;
}

.tabla-wrapper h2 {
  margin-left: 140px;
}
