#stats {
  padding: 20px;
}

#stats #tipo {
  border-radius: 10px;
  padding: 8px;
}

#stats .filtro-stats {
  margin-bottom: 10px;
}

#stats .admin-form {
  margin-bottom: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stats .admin-form input {
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
#nombre {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
#valor {
  padding: 10px;
  border-radius: 10px;
  width: 50px;
}
#stats #tabla {
  background-color: var(--perfil);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  overflow-x: hidden;
}

#stats table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#stats th,
#stats td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: normal;
  word-break: break-word;
}

@media (max-width: 600px) {
  #stats table th,
  #stats table td {
    padding: 4px;
    font-size: 13px;
  }
}
