#stats {
  padding: 20px;
}
#tipo {
  border-radius: 10px;
  padding: 8px;
}

.filtro-stats {
  margin-bottom: 10px;
}

.admin-form {
  margin-bottom: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-form input {
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
#tabla {
  background-color: var(--perfil);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  overflow-x: hidden; /* quitar scroll horizontal */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* columnas distribuidas proporcionalmente */
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: normal; /* permite que el contenido se ajuste */
  word-break: break-word; /* evita desbordes de palabras largas */
}

@media (max-width: 600px) {
  table th,
  table td {
    padding: 4px;
    font-size: 13px;
  }
}
