#stats {
  padding: 20px;
}

.filtro-stats {
  margin-bottom: 10px;
}

.admin-form {
  margin-bottom: 15px;
}

.admin-form input {
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}
#tabla {
  background-color: var(--perfil);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}
#tipo {
  border-radius: 10px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
