#tabla {
  background-color: var(--perfil);
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  overflow-x: hidden; /* evita scroll */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* distribuye las columnas de forma uniforme */
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  word-wrap: break-word; /* permite que el contenido se ajuste */
}

/* Opcional: columnas más estrechas en móviles */
@media (max-width: 600px) {
  table th,
  table td {
    padding: 4px;
    font-size: 13px;
  }
}
