#admin-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#admin-panel form {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

#admin-panel input {
  width: 150px;
  border: solid 2px black;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
#admin-panel select {
  width: 160px;
  padding: 4px;
  border-radius: 5px;
  border: solid 2px var(--primary);
}

#lista-eventos {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.admin-evento {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorcard);
  border-radius: 10px;
  font-size: 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border: solid 1px white;
  color: var(--colorText3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.admin-evento img {
  width: 50px;
}

.modal-edicion {
  width: 90%;
  max-width: 500px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
.modal-edicion form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-edicion form img {
  max-width: 50px;
}

.modal-edicion input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
  gap: 5px;
  width: 200px;
}

.modal-edicion button {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-edicion button[type='submit'] {
  border: none;
}

.modal-edicion button[type='button'] {
  border: none;
}

@media (max-width: 720px) {
  .admin-evento {
    background: radial-gradient(
      circle,
      #4cae4f,
      #80c684,
      #aed581,
      #dce773,
      #fff175
    );
    border: solid 2px var(--primary);
    color: var(--primary);
  }
}
