.evento {
  width: 240px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorcard);
  border-radius: 10px;
  font-size: 14px;
  color: var(--colorText3);
  border: 1px solid white;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.evento:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.evento h2 {
  font-size: 12px;
}

.evento img {
  width: 72px;
  height: 54px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid black;
}

.evento > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Eventos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 50px;
}

.asist-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 15px;
  color: var(--primary);
}

.asist-options {
  display: flex;
  gap: 5px;
  padding-top: 30px;
}

.asist-options > button {
  border-radius: 15px;
  border: 1px solid var(--primary);
  cursor: pointer;
  font-size: 9px;
  padding: 9px;
}

.asistentes {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  background-color: var(--body);
  border-radius: 10px;
  padding: 4px;
  margin-left: 400px;
  margin-bottom: 400px;
  margin-right: 35px;
  transition: max-height 0.3s ease;
}

.ulAsist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
}

.options {
  width: 100%;
  font-size: 10px;
}

@media (max-width: 720px) {
  #Eventos {
    margin-top: 70px;
    display: block;
  }

  .evento {
    position: relative;
    width: 210px;
    margin-bottom: 160px;
    margin-right: 110px;
    background: radial-gradient(
      circle,
      #4cae4f,
      #80c684,
      #aed581,
      #dce773,
      #fff175
    );
    border: solid 2px var(--primary);
    color: var(--primary);
  }

  .asistentes {
    margin-top: 20px;
  }

  .asist-options {
    padding: 11px;
  }

  .asist-option {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .asist-list {
    position: static;
    margin-bottom: 16px;
  }
}
